.container_content{
  width: 100%;
  height: 100%;

  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_cover > img{
  border: 1px solid rgb(175, 174, 174);
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content_description  {
  margin-top: 15px;
 }

.content_description > p {
  width: 400px;
  margin-top: 20px;
  justify-content: center;
}
