
<app-menu-title></app-menu-title>
<div class="container_articles">
  <div class="articles_main">
    <app-big-card id = "1"
      photoCover="https://i.stack.imgur.com/luaq2.png"
      cardTitle="Novo FIlme"
      cardDescription="Marvel anuncia novo filme sinistro homem de ferro"
    ></app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card id="2"
      cardTitle="Nova Serie anunciada"
      photoCover="https://www.komar.de/media/cms/fileadmin/user_upload/Category/Fototapeten/Marvel/komar-fototapeten-marvel.jpg"
    ></app-small-card>
    <app-small-card id="3"
      cardTitle="Nova Serie pantera negra"
      photoCover="https://boitempoeditorial.files.wordpress.com/2018/02/zizek-pantera-negra-blog.jpg"
    ></app-small-card>
    <app-small-card
      id="4"
      cardTitle="Nova Serie XMEN"
      photoCover="https://s2-techtudo.glbimg.com/z-3568TCFtey_TPWtVRyWkfVfJw=/0x0:1280x720/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/4/C/eoA6AfQKeyRQGoO5q7bQ/xmen-texto.png"
    ></app-small-card>
  </div>
</div>
